.todo-form{
    border: 1px solid #dfdfdf;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.formElement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.todo-form #addTodo{
    color: antiquewhite;
    background-color: green;
}

.todo-form #editTodo{
    color: antiquewhite;
    background-color: #0070E0;
}